.serves{
    background-color: var(--main-color);
    overflow: hidden;
    
}
.servesWidgets{
    display: flex;
    
}
.letterContainer{
   margin-top: 30px;
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(254, 193, 130);
  background: linear-gradient(
    50deg,
    rgba(254, 193, 130, 1) 20%,
    rgba(254, 160, 142, 1) 100%
  );

}